# -------------------------------
# Archivos a excluir de Android/Java
# -------------------------------

# Builds
*.apk
*.ap_
*.aab

# Clases de Java compiladas
*.class

# Carpetas generadas por Android Studio
/build/
/bin/
/gen/
/out/

# Gradle
.gradle/
build/

# Configuracion local
local.properties

# Carpeta Proguard
proguard/

# Logs
*.log

# Archivos especificos de Android Studio
.idea/
*.iml
*.iws

# Keystore
*.jks
*.keystore

# Carpeta de builds nativas externas
.externalNativeBuild/

# NDK / CMake
obj/
*.so
CMakeFiles/
CMakeCache.txt
cmake-build-debug/
CMakeLists.txt.user

# Lint
lint/intermediates/
lint/generated/

# Servicios de Google (Firebase)
google-services.json

# Capturas, basureros de datos
captures/
*.hprof