<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint 0 Fédor</title>
    <script src="../static/logicaNegocio.js" defer></script>
</head>

<body>
    <h2>Última lectura de sensor</h2>
    <button onclick="obtenerUltimo()">Obtener Última Lectura</button>
    <div id="resultado">
        Fecha: N/A<br>
        Contador: N/A<br>
        CO2: N/A
    </div>

    <hr>

    <h2>Agregar nueva lectura</h2>
    <form id="sensorForm">
        <label>Contador: <input type="number" id="contador" required></label><br>
        <label>CO2: <input type="number" id="co2" step="0.01" required></label><br>
        <button type="submit">Enviar</button>
    </form>
    <div id="mensaje"></div>
</body>

</html>